<p>
  <i>This site is a work in progress so any feedback is greatly appreciated. Some sections will be expanded upon and changed in the future based on feedback received. You can provide some feedback by clicking the "Give Feedback" button at the bottom right of the page.</i>
</p>

<h2 id="sectionIntroduction">Introduction</h2>
<p>
  Welcome to my development process for building Progressive Web
  Applications with <a class="link" href="https://palletsprojects.com/p/flask/" target="_blank">Flask</a>. This site will guide you through the process
  of creating a Flask PWA that will preserve as much native-like functionality
  as possible.
</p>
<p>
  You could follow this process with a non-flask project, making alterations to the examples provided to work with your chosen framework. For many frameworks, however, detailed tutorials are available for creating PWAs.
</p>

<h4 id="whatIsPWA">What is a Progressive Web Application?</h4>
<p>
  If you're looking to develop a cross-platform application, but do not want to develop multiple native applications or use a cross-platform development tool such as Xamarin, PWAs are a web-based alternative. However, the user experience for a web application is comparitively worse than an application developed natively as the user is interacting with the application via a web browser. A PWA can offer functionality previously only available to native applications.
</p>
<p>
  Progressive Web Application (PWA) is a term coined by <a class="link" href="https://developers.google.com/web/progressive-web-apps" target="_blank">Google</a> to describe a type of web application that is of sufficient quality to be installed onto a device which, for mobile devices, means adding the application to the homescreen as if it were a native application.
</p>

<h4 id="prerequisiteKnowledge">Prerequisite Knowledge</h4>
<p>
  If you follow this process it is assumed that you already know the basics of Flask and can get a basic web application up and running to follow the development process below with. Alternatively if you have a pre-existing Flask application that you wish to turn into a PWA this process will also contain the necessary information to do so, but note your project and file structure may differ from examples used.
</P>
<p>
  Don't know how to use Flask yet? Flask is an incredibly well documented framework with an abundance of tutorials for becoming familiar with how it works. Below are some that I recommend, you'll need to install <a class="link" href="https://www.python.org/" target="_blank">Python</a> first:
  <ul class="textul" style="width:70%">
    <li>
      <a class="link" href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world" target="_blank">The Flask Mega-Tutorial</a> - An extensive tutorial that covers the basics and then dives into more complicated functionality. It also covers deployment which is out of the scope for this development process.
    </li>
    <li>
      <a class="link" href="https://flask.palletsprojects.com/en/1.1.x/tutorial/" target="_blank">Official Flask Tutorial</a> - A tutorial written by the creators of Flask. Less in depth than the mega-tutorial and therefore takes less time to complete.
    </li>
  </ul>
</p>
<div class="line"></div>
