<h2 id="_testing">Testing</h2>

<h4 id="_testingLighthouse">Lighthouse</h4>
<p>
  One of the most powerful testing tools available for PWA developers is Google's audit tool Lighthouse. You can run a Lighthouse audit within the Chrome dev tools under the "Audits" tab to assess your site to determine if it is PWA ready. Example results are shown below, clicking on individual results will provide guidance to fixing any issues.
</p>
<img width="100%" src="{{ url_for('static', filename='images/lighthouse.png') }}">
<div class="line"></div>

<p>
  Thank you for using my PWA development process. Please leave some feedback if you have the time!
</p>
